@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.sorry {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 200px;
    width: 600px;
}

.row{
    position: absolute;
    width: 279px;
    height: 43px;
    left: 90px;
    top: 100px;

}
.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 47px;
    text-align: center;

    color: #000000;
}

/*.search-box{*/
/*    position: absolute;*/
/*    top: 26%;*/
/*    left: 82%;*/
/*    transform: translate(-50%,-50%);*/
/*    background: rgba(121, 175, 4, 0.19);;*/
/*    height: 40px;*/
/*    border-radius: 40px;*/
/*    padding: 10px;*/
/*}*/
/*.search-box:hover > input{*/
/*    width: 200px;*/
/*    padding: 0 10px;*/
/*}*/
/*.search-box:hover > .icon{*/
/*    background: #8BCC00;*/
/*}*/
/*.icon:hover{*/
/*    transform: rotate(360deg) scale(0.8);*/
/*}*/
/*input{*/
/*    width: 0;*/
/*    border: none;*/
/*    outline: none;*/
/*    padding: 0;*/
/*    background: none;*/
/*    font-size: 1.1rem;*/
/*    transition: 0.5s ease;*/
/*    line-height: 40px;*/
/*    color: black;*/
/*}*/
/*.icon{*/
/*    color: black;*/
/*    float: right;*/
/*    width: 40px;*/
/*    font-size: 1.3rem;*/
/*    height: 40px;*/
/*    border-radius: 50%;*/
/*    background: #D3DDBD;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    transition: 0.4s;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/
/*}*/
#search{
    float: right;
    margin-right: 150px;
    margin-top: 110px;
}
.searchbtn{
    background-color: #8BCC00;
    padding: 5px;
    border-radius: 8px;
    border: none;
    color: white;
}
input{
    background-color: #efeeee;
    border-radius: 6px;
    border: 1px solid #d0d0d0;
    padding-left: 5px;
}
.search-filter{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: absolute;
    justify-content: left;
    align-items: flex-start;
    margin-left: 110px;
    margin-top: 80px;
    border-radius: 8px;
}
.search-filter a{
    margin: 10px;
    padding: 10px 20px;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    font-family: Roboto;
    text-decoration: none;
}

.search-filter a:hover{
    background-color: #e1e1e1;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.search-filter-active{
    background-color: #D3DDBD;
    color: #757095;
}
.boxone{
    position: relative;
    width: 1250px;
    height: 352px;
    margin-left: 125px;
    margin-top: 200px;
    margin-bottom: -150px;

    background: rgba(196, 196, 196, 0.18);
    box-shadow: 0px 0px 27px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
/*.boxtwo{*/
/*    position: absolute;*/
/*    width: 1250px;*/
/*    height: 352px;*/
/*    margin-left: 125px;*/
/*    margin-top: 600px;*/

/*    background: rgba(196, 196, 196, 0.18);*/
/*    box-shadow: 0px 0px 27px 6px rgba(0, 0, 0, 0.25);*/
/*    border-radius: 15px;*/
/*}*/
/*.boxthree{*/
/*    position: absolute;*/
/*    width: 1250px;*/
/*    height: 352px;*/
/*    margin-left: 125px;*/
/*    margin-top: 1000px;*/

/*    background: rgba(196, 196, 196, 0.18);*/
/*    box-shadow: 0px 0px 27px 6px rgba(0, 0, 0, 0.25);*/
/*    border-radius: 15px;*/
/*}*/
.jobicon1{
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}
.labss {
    margin-left: 150px;
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-top: 36px;
}
.users{
    position: absolute;
    margin-left: 150px;
    margin-top: 0px;
}
.employees{
    position: absolute;
    width: 150px;
    height: 10px;
    left: 160px;
    top: 75px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
}
.active{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 101px;
    height: 30px;
    left: 35px;
    top: 120px;
}
.descr{
    position: absolute;
    width: 889px;
    height: 23px;
    left: 35px;
    top: 160px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* or 200% */

    letter-spacing: -0.02em;
}
.learn{
    position: absolute;
    width: 117px;
    height: 23px;
    left: 915px;
    top: 160px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* or 200% */

    letter-spacing: -0.02em;

    color: #79AF04;
}
.appone{
    position: absolute;
    width: 1180px;
    height: 54px;
    left: 35px;
    top: 210px;

    background: rgba(196, 196, 196, 0.25);
}
.apptwo{
    position: absolute;
    width: 1180px;
    height: 54px;
    left: 35px;
    top: 275px;

    background: rgba(196, 196, 196, 0.25);
}
.jobone{
    position: absolute;
    width: 395px;
    height: 27px;
    left: 5px;
    top: 15px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

}
.salary{
    position: absolute;
    width: 154px;
    height: 30px;
    left: 400px;
    top: 12px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 8px;
}
.realsalary{
    position: absolute;
    width: 143px;
    height: 22px;
    left: 4px;
    top: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}
.type{
    position: absolute;
    width: 172px;
    height: 30px;
    left: 570px;
    top: 12px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 8px;
}
.realtype{
    position: absolute;
    width: 143px;
    height: 22px;
    left: 14px;
    top: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}
.time{
    position: absolute;
    width: 117px;
    height: 23px;
    left: 880px;
    top: 15px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    /* or 300% */

    letter-spacing: -0.02em;

    color: #79AF04;
}
.star{
    position: absolute;
    width: 44.84px;
    height: 27px;
    left: 960px;
    top: 13px;
    cursor: pointer;
}
.star:hover{
    background-color: grey;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.apply{
    position: absolute;
    width: 67.76px;
    height: 27px;
    left: 1000px;
    top: 13px;

    background: #8BCC00;
    position: absolute;
    width: 68px;
    height: 30px;
    left: 1020px;
    top: 10px;

    background: #8BCC00;
    border-radius: 8px;
    border-color: #8BCC00;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}
.apply:hover, .apply:focus, .apply:active{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.jobtwo{
    position: absolute;
    width: 395px;
    height: 27px;
    left: 5px;
    top: 20px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

}
.salarytwo{
    position: absolute;
    width: 154px;
    height: 30px;
    left: 400px;
    top: 15px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 8px;
}
.realsalarytwo{
    position: absolute;
    width: 143px;
    height: 22px;
    left: 4px;
    top: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}
.typetwo{
    position: absolute;
    width: 172px;
    height: 30px;
    left: 570px;
    top: 15px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 8px;
}
.realtypetwo{
    position: absolute;
    width: 143px;
    height: 22px;
    left: 14px;
    top: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}
.timetwo{
    position: absolute;
    width: 117px;
    height: 23px;
    left: 880px;
    top: 15px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    /* or 300% */

    letter-spacing: -0.02em;

    color: #79AF04;
}
.startwo{
    position: absolute;
    width: 44.84px;
    height: 27px;
    left: 960px;
    top: 15px;
    cursor: pointer;
}
.startwo:hover{
    background-color: grey;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.applytwo{
    position: absolute;
    width: 67.76px;
    height: 27px;
    left: 1000px;
    top: 13px;

    background: #8BCC00;
    position: absolute;
    width: 68px;
    height: 30px;
    left: 1020px;
    top: 13px;

    background: #8BCC00;
    border-radius: 8px;
    border-color: #8BCC00;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}
.applytwo:hover, .apply:focus, .apply:active{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.jobicon2{
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}
.labs2{
    position: absolute;
    width: 150px;
    height: 24px;
    margin-left: 140px;
    margin-top: 40px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
}
.users2{
    position: absolute;
    margin-left: 150px;
    margin-top: 70px;
}
.employees2{
    position: absolute;
    width: 150px;
    height: 10px;
    left: 160px;
    top: 75px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
}
.active2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 101px;
    height: 30px;
    left: 35px;
    top: 120px;
}
.descr2{
    position: absolute;
    width: 889px;
    height: 23px;
    left: 35px;
    top: 160px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* or 200% */

    letter-spacing: -0.02em;
}
.learn2{
    position: absolute;
    width: 117px;
    height: 23px;
    left: 915px;
    top: 160px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* or 200% */

    letter-spacing: -0.02em;

    color: #79AF04;
}
.appone2{
    position: absolute;
    width: 1180px;
    height: 54px;
    left: 35px;
    top: 210px;

    background: rgba(196, 196, 196, 0.25);
}
.apptwo2{
    position: absolute;
    width: 1180px;
    height: 54px;
    left: 35px;
    top: 275px;

    background: rgba(196, 196, 196, 0.25);
}
.jobone2{
    position: absolute;
    width: 395px;
    height: 27px;
    left: 5px;
    top: 15px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

}
.salary2{
    position: absolute;
    width: 154px;
    height: 30px;
    left: 400px;
    top: 12px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 8px;
}
.realsalary2{
    position: absolute;
    width: 143px;
    height: 22px;
    left: 4px;
    top: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}
.type2{
    position: absolute;
    width: 172px;
    height: 30px;
    left: 570px;
    top: 12px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 8px;
}
.realtype2{
    position: absolute;
    width: 143px;
    height: 22px;
    left: 14px;
    top: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}
.time2{
    position: absolute;
    width: 117px;
    height: 23px;
    left: 880px;
    top: 15px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    /* or 300% */

    letter-spacing: -0.02em;

    color: #79AF04;
}
.star2{
    position: absolute;
    width: 44.84px;
    height: 27px;
    left: 960px;
    top: 13px;
    cursor: pointer;
}
.star2:hover{
    background-color: grey;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.apply2{
    position: absolute;
    width: 67.76px;
    height: 27px;
    left: 1000px;
    top: 13px;

    background: #8BCC00;
    position: absolute;
    width: 68px;
    height: 30px;
    left: 1020px;
    top: 10px;

    background: #8BCC00;
    border-radius: 8px;
    border-color: #8BCC00;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}
.apply2:hover, .apply:focus, .apply:active{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.jobtwo2{
    position: absolute;
    width: 395px;
    height: 27px;
    left: 5px;
    top: 20px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

}
.salarytwo2{
    position: absolute;
    width: 154px;
    height: 30px;
    left: 400px;
    top: 15px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 8px;
}
.realsalarytwo2{
    position: absolute;
    width: 143px;
    height: 22px;
    left: 4px;
    top: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}
.typetwo2{
    position: absolute;
    width: 172px;
    height: 30px;
    left: 570px;
    top: 15px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 8px;
}
.realtypetwo2{
    position: absolute;
    width: 143px;
    height: 22px;
    left: 14px;
    top: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}
.timetwo2{
    position: absolute;
    width: 117px;
    height: 23px;
    left: 880px;
    top: 15px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    /* or 300% */

    letter-spacing: -0.02em;

    color: #79AF04;
}
.startwo2{
    position: absolute;
    width: 44.84px;
    height: 27px;
    left: 960px;
    top: 15px;
    cursor: pointer;
}
.startwo2:hover{
    background-color: grey;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.applytwo2{
    position: absolute;
    width: 67.76px;
    height: 27px;
    left: 1000px;
    top: 13px;

    background: #8BCC00;
    position: absolute;
    width: 68px;
    height: 30px;
    left: 1020px;
    top: 13px;

    background: #8BCC00;
    border-radius: 8px;
    border-color: #8BCC00;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}
.applytwo2:hover, .apply:focus, .apply:active{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.jobicon3{
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}
.labs3{
    position: absolute;
    width: 150px;
    height: 24px;
    margin-left: 140px;
    margin-top: 40px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
}
.users3{
    position: absolute;
    margin-left: 150px;
    margin-top: 70px;
}
.employees3{
    position: absolute;
    width: 150px;
    height: 10px;
    left: 160px;
    top: 75px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
}
.active3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 101px;
    height: 30px;
    left: 35px;
    top: 120px;
}
.descr3{
    position: absolute;
    width: 889px;
    height: 23px;
    left: 35px;
    top: 160px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* or 200% */

    letter-spacing: -0.02em;
}
.learn3{
    position: absolute;
    width: 117px;
    height: 23px;
    left: 915px;
    top: 160px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* or 200% */

    letter-spacing: -0.02em;

    color: #79AF04;
}
.appone3{
    position: absolute;
    width: 1180px;
    height: 54px;
    left: 35px;
    top: 210px;

    background: rgba(196, 196, 196, 0.25);
}
.apptwo3{
    position: absolute;
    width: 1180px;
    height: 54px;
    left: 35px;
    top: 275px;

    background: rgba(196, 196, 196, 0.25);
}
.jobone3{
    position: absolute;
    width: 395px;
    height: 27px;
    left: 5px;
    top: 15px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

}
.salary3{
    position: absolute;
    width: 154px;
    height: 30px;
    left: 400px;
    top: 12px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 8px;
}
.realsalary3{
    position: absolute;
    width: 143px;
    height: 22px;
    left: 4px;
    top: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}
.type3{
    position: absolute;
    width: 172px;
    height: 30px;
    left: 570px;
    top: 12px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 8px;
}
.realtype3{
    position: absolute;
    width: 143px;
    height: 22px;
    left: 14px;
    top: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}
.time3{
    position: absolute;
    width: 117px;
    height: 23px;
    left: 880px;
    top: 15px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    /* or 300% */

    letter-spacing: -0.02em;

    color: #79AF04;
}
.star3{
    position: absolute;
    width: 44.84px;
    height: 27px;
    left: 960px;
    top: 13px;
    cursor: pointer;
}
.star3:hover{
    background-color: grey;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.apply3{
    position: absolute;
    width: 67.76px;
    height: 27px;
    left: 1000px;
    top: 13px;

    background: #8BCC00;
    position: absolute;
    width: 68px;
    height: 30px;
    left: 1020px;
    top: 10px;

    background: #8BCC00;
    border-radius: 8px;
    border-color: #8BCC00;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}
.apply3:hover, .apply:focus, .apply:active{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.jobtwo3{
    position: absolute;
    width: 395px;
    height: 27px;
    left: 5px;
    top: 20px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

}
.salarytwo3{
    position: absolute;
    width: 154px;
    height: 30px;
    left: 400px;
    top: 15px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 8px;
}
.realsalarytwo3{
    position: absolute;
    width: 143px;
    height: 22px;
    left: 4px;
    top: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}
.typetwo3{
    position: absolute;
    width: 172px;
    height: 30px;
    left: 570px;
    top: 15px;

    background: rgba(196, 196, 196, 0.25);
    border-radius: 8px;
}
.realtypetwo2{
    position: absolute;
    width: 143px;
    height: 22px;
    left: 14px;
    top: 8px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}
.timetwo3{
    position: absolute;
    width: 117px;
    height: 23px;
    left: 880px;
    top: 15px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    /* or 300% */

    letter-spacing: -0.02em;

    color: #79AF04;
}
.startwo3{
    position: absolute;
    width: 44.84px;
    height: 27px;
    left: 960px;
    top: 15px;
    cursor: pointer;
}
.startwo3:hover{
    background-color: grey;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.applytwo3{
    position: absolute;
    width: 67.76px;
    height: 27px;
    left: 1000px;
    top: 13px;

    background: #8BCC00;
    position: absolute;
    width: 68px;
    height: 30px;
    left: 1020px;
    top: 13px;

    background: #8BCC00;
    border-radius: 8px;
    border-color: #8BCC00;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}
.applytwo3:hover, .apply:focus, .apply:active{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.footer{
    margin-top: 1500px;
    width: 1530px;
}