#footer{
    margin-top: 400px;
}

#footfetish ,.text-muted {
    margin-left: 50px;
}
.ruda{
    margin-left: 100px;
    color: #8BCC00;
}
#flex-column0{
    margin-left: 50px;
}

#flex-column2{
    margin-left: -50px;
}
#flex-column1{
    margin-left: -50px;
}
#flex-column3{
    margin-left: -50px;
}
