@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    justify-content: center;
}

div label {
    right: 0;
}
.formes {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 430px;
    width: 100%;
    padding: 34px;
    background-color: #BBCB99;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.tittle {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    text-align: center;

    color: #333333;
}
.labels {
    margin-top: 5px;
    text-align: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: right;

    color: #000000;
}
.confirm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 105px;
    padding-right: 105px;
}
.confirmbutton {
    margin-top: 10px;
    background: #385300;
    border-radius: 10px;
    height: 50px;
    border: none;
    text-align: center;
    width: 180px;
}
.confirmbutton:hover {
    background: #6b9a05;
    transition: all 0.3ms ease;
}

.confirmbutton {
    color: white;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;

    text-decoration: none;

}
.confirmbutton:hover {
    color: white;
}
input {
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 30px;
}

.already {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.already a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    color: #000000;
}
.logi {
    cursor: pointer;
    text-decoration: none;
    margin-left: -150px;
    font-weight: 800;
}
.logi:hover {
    color: #737373;
}
.nav-user {
    opacity: 0;
}
.nav-user li {
    cursor: default;
}